/* make variables */
* {
  font-family: "Inter", sans-serif;
}
:root {
  --lightgray: #d9d9d9;
  --gray: #9c9c9c;
  --purple: #a239ca;
  --orange: #f48915;
  --darkGrey: #464d53;
  --caloryCard: #656565;
  --void: #0e0b16;
  --jewel: #4717f6;
  --stark: #e7dfdd;
  --planCard: linear-gradient(210.41deg, #fa5042 1.14%, #a239ca 100.75%);
  --appColor: #3c3f45;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  display: none;
}
.stroke-text {
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
.btn {
  background-color: #fff;
  padding: 0.5rem;
  font-weight: bold;
  transition: 300ms all;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  cursor: pointer;
}

/* Header CSS */
.header {
  display: flex;
  justify-content: space-between;
}
.main-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--appColor);
  align-items: center;
}
.logo-text {
  display: flex;
  align-items: center;
  /* gap: 1.5rem; */
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  text-overflow: inherit;
}
.logo-text img {
  width: 25%;
  height: auto;
}
.main-header .logo-text img {
  width: 40%;
  height: auto;
}
.text {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  width: 100%;
}
.main-header-menu {
  margin-right: 1rem;
}
.header-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  color: #fff;
}
.header-menu a {
  color: #fff;
  text-decoration: none;
}
.header-menu > li:hover {
  cursor: pointer;
  color: var(--purple);
}
/* End of Header CSS */

/* Hero CSS */
.hero {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: -5rem; /*upto offer only*/
}
.left-h {
  padding: 2rem;
  padding: 1.5rem;
  flex: 3;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  z-index: 2;
}
.right-h {
  flex: 1;
  position: relative;
  background: var(--planCard);
}
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  text-overflow: inherit;
}
.hero-text > div:nth-of-type(3) {
  font-size: 1rem;
  font-weight: 200;
  text-transform: none;
  letter-spacing: 1px;
  width: 80%;
}
.hero-buttons {
  display: flex;
  gap: 1rem;
  font-weight: normal;
}
.hero-buttons > :nth-child(1) {
  color: #fff;
  background: var(--planCard);
  border: navajowhite;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 10px;
}
.reasons-button {
  display: flex;
  gap: 1rem;
  font-weight: normal;
}
.reasons-button > :nth-child(1) {
  color: #fff;
  background: var(--planCard);
  border: navajowhite;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 10px;
}
.right-h > .btn {
  position: absolute;
  right: 3rem;
  top: 2rem;
  color: black;
}
.hero-image {
  position: absolute;
  top: 0rem;
  right: 2rem;
  width: 19rem;
  height: auto;
}
/* End of Hero CSS */

/* Commitments CSS */

.Commitment {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
}
.commitment-header {
  display: flex;
  gap: 5rem;
  font-weight: bold;
  font-size: 3rem;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  font-style: italic;
}
.commitment-text {
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  padding: 0 10rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
}

/* End of Commitments CSS */

/* Programs CSS */

.Programs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
}
.programs-header {
  display: flex;
  gap: 5rem;
  font-weight: bold;
  font-size: 3rem;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  font-style: italic;
}
.programs-categories {
  display: flex;
  gap: 1rem;
}
.category {
  display: flex;
  flex-direction: column;
  background-color: gray;
  padding: 2rem;
  gap: 1rem;
  color: #fff;
  justify-content: space-between;
}
.category-heading {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.category-image img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  filter: blur(1px);
}
.category-heading > :nth-child(1) {
  width: 2rem;
  height: 2rem;
  fill: #fff;
}
.category-heading > :nth-child(2) {
  font-size: 1rem;
  font-weight: bold;
}
.category > :nth-child(1) {
  font-size: 0.9rem;
  line-height: 25px;
}
.join-now {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.join-now > img {
  width: 1rem;
}
/* .category:hover {
  background: var(--planCard);
  cursor: pointer;
} */

/* End of Programs CSS */

/* Reasons CSS */
.Reasons {
  display: flex;
  padding: 0 2rem;
  gap: 2rem;
}
.left-r {
  flex: 1 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-auto-rows: 1fr;
}
.left-r > img {
  object-fit: cover;
}
.left-r > :nth-child(1) {
  width: 15rem;
  grid-row: 1/3;
  height: 37rem;
}
.left-r > :nth-child(2) {
  width: auto;
  grid-column: 2/4;
  height: 21rem;
}
.left-r > :nth-child(3) {
  width: 18.7rem;
  grid-row: 2;
  grid-column: 2/3;
  height: 15rem;
}
.left-r > :nth-child(4) {
  width: 16.2rem;
  grid-row: 2;
  grid-column: 3/4;
  height: 15rem;
}
.right-r {
  flex: 1 1;
  text-transform: uppercase;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
}
.right-r > span {
  font-weight: bold;
  color: var(--orange);
}
.right-r > div {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
}
.details-r {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.details-r > div {
  display: flex;
  font-size: 1rem;
  gap: 1rem;
}

/* End of Reason CSS */

/* Plans CSS */

.plans-container {
  display: flex;
  margin-top: -8rem;
  padding: 0 2rem;
  flex-direction: column;
  gap: 4rem;
  position: relative;
}
.plans {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.plan > svg {
  fill: var(--orange);
  width: 2rem;
  height: 2rem;
}
.features {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.feature {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.feature > img {
  width: 1rem;
  height: auto;
}
/* End of Plans CSS */

/* Testimonals CSS */

.Testimonals {
  display: flex;
  gap: 1rem;
  padding: 0 2rem;
}
.left-t {
  display: flex;
  flex: 1 1;
  gap: 2rem;
  flex-direction: column;
  text-transform: uppercase;
  color: #fff;
}
.left-t > :nth-child(1) {
  color: var(--orange);
  font-weight: bold;
}
.left-t > :nth-child(2),
.left-t > :nth-child(3) {
  font-weight: bold;
  font-size: 3rem;
}
.left-t > :nth-child(4) {
  text-transform: none;
  text-align: justify;
  letter-spacing: 2px;
  line-height: 40px;
}
.right-t {
  flex: 1;
  position: relative;
}
.right-t > img {
  position: absolute;
  width: 17rem;
  height: 20rem;
  object-fit: cover;
  right: 8rem;
  top: 2rem;
}
.right-t > :nth-child(1) {
  position: absolute;
  width: 17rem;
  height: 20rem;
  border: 2px solid orange;
  background-color: transparent;
  right: 9rem;
  top: 0.9rem;
}
.right-t > :nth-child(2) {
  position: absolute;
  width: 17rem;
  height: 19rem;
  right: 7rem;
  top: 4rem;
  background: var(--planCard);
}
.arrows {
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: 1rem;
  left: 15rem;
}
.arrows > span {
  width: 1.5rem;
  cursor: pointer;
  font-size: 2rem;
  color: #fff;
}

/* End of Testimonals CSS */

/* Footer CSS */

.Footer-container {
  position: relative;
  /* background-color: var(--appColor); */
}
.Footer-container > hr {
  border: 1px solid var(--lightgray);
}
.footer {
  padding: 1rem 2rem;
  display: flex;
  gap: 4rem;
  align-items: start;
  justify-content: space-evenly;
  height: 15rem;
  color: #fff;
}
.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  text-transform: uppercase;
}
.social-block {
  width: 45%;
  align-items: center;
}
.contact-us {
  width: 30%;
}
.social-links {
  display: flex;
  gap: 4rem;
  width: 30%;
  font-size: 3rem;
  cursor: pointer;
}
.social-links > a {
  color: #fff;
}
.content,
.contact-us,
.social-block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.email,
.phone,
.address {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.phone a {
  text-decoration: none;
  color: #fff;
}
.logo-text {
  width: 25%;
}
.logo-text img {
  width: 100%;
}

/* End of Footer CSS */

@media screen and (max-width: 768px) {
  /* .header > :nth-child(2) {
    position: fixed;
    right: 2rem;
    z-index: 99;
  } */
  .header-menu {
    flex-direction: column;
    background-color: var(--void);
    padding: 2rem;
  }
  .plans {
    flex-direction: column;
  }
  .plan > :nth-child(2) {
    transform: none;
  }
  .Reasons {
    flex-direction: column;
  }
  .left-r {
    grid-auto-rows: auto;
    overflow: hidden;
  }
  .left-r > :nth-child(1) {
    width: 7rem;
    height: 17rem;
  }
  .left-r > :nth-child(2) {
    width: 15rem;
    height: 10rem;
  }

  .left-r > :nth-child(3),
  .left-r > :nth-child(4) {
    width: 7rem;
    height: 6rem;
  }
  .programs-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: xx-large;
    justify-content: center;
    gap: 1rem;
  }
  .programs-categories {
    flex-direction: column;
  }
  .commitment-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: xx-large;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  }
  .commitment-text {
    font-size: 1rem;
    padding: 0;
  }
  .reasons-button > button {
    width: 100%;
  }
  .plans-container {
    margin-top: 0rem;
  }
  .plan:nth-child(2) {
    transform: scale(1);
  }
  .hero {
    flex-direction: column;
  }
  .the-best-ad {
    margin-top: 0;
    font-size: small;
    align-self: center;
    transform: scale(0.8);
  }
  .hero-text {
    font-size: 1.5rem;
    text-align: center;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  .hero-text > div:nth-of-type(3) {
    font-size: small;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: center;
  }
  .hero-buttons {
    justify-content: center;
  }
  .hero-buttons > :nth-child(1) {
    width: 100%;
  }
  .figures > div > span:nth-of-type(1) {
    font-size: large;
  }
  .figures > div > span:nth-of-type(2) {
    font-size: small;
  }
  .right-h {
    position: relative;
    background: none;
  }
  .heart-rate {
    left: 1rem;
    top: 2rem;
  }
  .calories {
    position: relative;
    top: 5rem;
    left: 2rem;
  }
  .calories > img {
    width: 2rem;
  }
  .calories > div > :nth-child(2) {
    color: #fff;
    font-size: 1rem;
  }
  .hero-image {
    position: relative;
    width: 15rem;
    left: 7rem;
    top: 4rem;
    align-self: center;
  }
  .hero-image-back {
    width: 15rem;
    left: 2rem;
    top: 0rem;
  }
  .Testimonals {
    flex-direction: column;
  }
  .left-t > :nth-child(2),
  .left-t > :nth-child(3) {
    font-size: xx-large;
  }
  .right-t {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .right-t > div {
    position: relative;
    display: none;
  }
  .right-t > img {
    top: 0;
    right: 0;
    position: relative;
    align-self: center;
  }
  .right-t > :last-child {
    display: block;
    bottom: 0;
    left: 0;
  }
  .footer {
    flex-direction: column;
    height: auto;
  }
  .logo-text {
    width: 80%;
  }

  .social-block,
  .contact-us {
    width: 100%;
  }
  .social-links {
    width: auto;
  }
}
