.header {
  display: flex;
  justify-content: space-between;
}
.logo-text {
  display: flex;
  align-items: center;
  /* gap: 1.5rem; */
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  text-overflow: inherit;
}
.logo-text img {
  width: 25%;
}
.text {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}
.header-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  color: #fff;
}
.header-menu > li:hover {
  cursor: pointer;
  color: var(--purple);
}
@media screen and (max-width: 768px) {
  .header > :nth-child(2) {
    position: fixed;
    right: 2rem;
    z-index: 99;
  }
  .header-menu {
    flex-direction: column;
    background-color: var(--void);
    padding: 2rem;
  }
}
